body {
  margin: 0;
  font-family: Arial;
  scroll-behavior: smooth;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #222;
  color: white;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* Hero Section */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  margin-top: 10px;
}

/* Sections */
.section {
  padding: 50px;
  text-align: center;
}

/* Service Boxes */
.box-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  padding: 20px;
  background: #f2f2f2;
  border-radius: 10px;
  width: 150px;
}

/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}