body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

nav {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

header {
    text-align: center;
    padding: 40px;
    background: lightblue;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}