* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #f4f7fc;
    color: #333;
}

/* NAVBAR */

nav {
    background-color: #0a192f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav li {
    cursor: pointer;
    transition: 0.3s;
}

nav li:hover {
    color: lightblue;
}

/* HEADER */

header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
}

header img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    margin-bottom: 20px;
}

header h1 {
    font-size: 40px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

/* BUTTON */

button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background-color: #0a192f;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: black;
    transform: scale(1.05);
}

/* SECTIONS */

section {
    background-color: white;
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

section h2 {
    margin-bottom: 15px;
    color: #0a192f;
}

/* LISTS */

ul li {
    margin-top: 10px;
}

/* FOOTER */

footer {
    background-color: #0a192f;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* MOBILE RESPONSIVE */

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 15px;
        flex-direction: column;
    }

    section {
        width: 95%;
    }

    header h1 {
        font-size: 30px;
    }
}