body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.answer-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
}